/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background-position: 0 0;
    background-repeat: no-repeat;
    border: 0 none;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    text-align: left;
    vertical-align: baseline;
}
a img, :link img, :visited img { border:0 none; }
table {
    border-collapse: collapse;
    border-spacing: 0;
}
ol, ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}
q:before, q:after, blockquote:before, blockquote:after { content:""; }

/* css begin */
html, body { height:100%; }
body {
    font-family: Arial;
    font-size: 12px;
    color: #333;
    width: 100%;
    min-width: 1000px;
}

.ui-widget-header{
    text-align: center;
}

.ui-dialog-title{
    font-weight: bold;
    font-size: 18px;
}

#editDialog .ui-dialog-titlebar, #sendMailDialog .ui-dialog-titlebar{
    font-size: 16px;
    color: #969c9d;
    font-weight: bold;
    background: #ecf5f7;
    padding: 15px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #e5e5e5;
}

.pdf-link label{
    color:blue;
    cursor: pointer;
    font-weight: bold;
}

.book-details{
    width: 100%;
}

.edit-field{
    width:400px !important;
}

.ui-selectonemenu.ui-state-default{
    border:1px solid #a8a8a8;   
}

.ui-dialog .ui-dialog-content{
    padding:0;
}

#booksForm .ui-confirm-dialog{
    background: #fff;
    width: 300px;
    border-radius: 5px;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0px 2px 3px #2f2f2f;
}

#booksForm .ui-dialog-titlebar{
    font-size: 16px;
    color: #969c9d;
    font-weight: bold;
    background: #ecf5f7;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #e5e5e5;
}

#booksForm .ui-dialog-content{
    padding: 10px;
    font-size: 15px;
    
}

input.mail-subject, textarea.mail-message{
    width:350px !important;
}

